---

import DashboardLayout from "@/src/layouts/dashboard.astro";

import { PageHeading } from "@/src/lib/ui/PageHeading";
import { SummaryCardGrid } from "@/src/lib/ui/SummaryCard";
import { ExercisesTable, type Exercise } from "@/src/components/react/tables/ExercisesTable";

import { Card } from "@/components/ui/card";

const title = "Exercises";
const description = "A list of clients";

// temporarily import exercise data
import { createRequire } from "module";
const require = createRequire(import.meta.url);
const exercises: Exercise[] = (require('../../../exercises.json')).data;


---

<DashboardLayout title={title} description={description}>
    <PageHeading title="Exercises" client:load client:only="react" includeBackButton={true} />
    <Card className="px-8 pb-2">
        <h2 class="flex-1 shrink-0 whitespace-nowrap text-xl font-medium tracking-tight sm:grow-0 pt-6">Exercises Library</h2>
        <p class="flex flex-wrap items-center gap-1.5 break-words text-sm text-muted-foreground sm:gap-2.5 pb-2">Browse exercises</p>
        <ExercisesTable data={exercises} client:load />
    </Card>
</DashboardLayout>

