---
import { Button } from "@/components/ui/button";
import { ChevronLeft } from "lucide-react";

const { title } = Astro.props;
---

<header class="py-4 px-4 grid grid-cols-[1fr_1fr_1fr] items-center justify-center text-center">
    <div class="flex items-center gap-4">
        <Button variant="outline" size="icon" className="h-7 w-7 border-solid" data-back-button>
            <ChevronLeft className="h-4 w-4" />
            <span class="sr-only">Back</span>
        </Button>
        <span class="text-muted-foreground">Go Back</span>
    </div>
    <p class="text-md font-medium">{title}</p>
    <div></div>
</header>