---
import GoogleButton from "../components/astro/GoogleButton.astro";
import DefaultLayout from "../layouts/default.astro";

import "@/src/styles/global.css";

import { Button } from "@/components/ui/button";
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Toaster } from "@/components/ui/toaster";
import { DisplayQueryMessage } from "../components/react/DisplayQueryMessage";

const title = "Login";
const description = "";

/**
 * SEE
 * https://web.dev/articles/sign-in-form-best-practices#current-password
 */
---

<DefaultLayout title={title} description={description}>
    <aside id="background">
        <video autoplay muted playsinline loop>
            <source src="./video/stock-bench-press.mp4" type="video/mp4" />
        </video>
    </aside>
    <main>
        <form action="/login" method="POST">
            <Card className="w-full max-w-sm p-3">
                <CardHeader>
                    <CardTitle className="text-2xl">Login</CardTitle>
                    <CardDescription>
                        Enter your email below to login to your account.
                    </CardDescription>
                </CardHeader>
                <CardContent className="grid gap-4">
                    <div class="grid gap-2">
                        <Label htmlFor="email">Email</Label>
                        <Input
                            id="email"
                            type="email"
                            placeholder="Enter your email"
                            name="email"
                            required
                            autocomplete="email"
                        />
                    </div>
                    <div class="grid gap-2">
                        <Label htmlFor="password">Password</Label>
                        <Input
                            id="password"
                            type="password"
                            placeholder="Enter your password"
                            name="password"
                            required
                            autocomplete="current-password"
                        />
                    </div>
                </CardContent>
                <CardFooter className="flex flex-col gap-4">
                    <Button className="w-full">Sign in</Button>
                    <p class="text-center text-sm text-gray-500">
                        Don't have an account?
                        <a href="/signup" class="text-primary">
                            Sign up
                        </a>
                    </p>
                </CardFooter>
            </Card>
        </form>
    </main>
    <Toaster client:only="react" />
    <DisplayQueryMessage client:only="react" />
</DefaultLayout>

<style>
    #background {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }
    #background video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px) brightness(0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
</style>