---
import GoogleButton from "../components/astro/GoogleButton.astro";
import DefaultLayout from "../layouts/default.astro";

import "@/src/styles/global.css";

import { Button } from "@/components/ui/button";
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";

const title = "Sign up";
const description = "";
---

<DefaultLayout title={title} description={description}>
    <aside id="background">
        <video autoplay muted playsinline loop>
            <source src="./video/stock-bench-press.mp4" type="video/mp4" />
        </video>
    </aside>
    <main>
        <form action="/signup" method="POST">
            <Card className="w-full max-w-sm p-3">
                <CardHeader>
                    <CardTitle className="text-2xl">Create an account</CardTitle>
                    <CardDescription>
                        Enter your email and password below to create an account.
                    </CardDescription>
                </CardHeader>
                <CardContent className="grid gap-4">
                    <div class="grid gap-2">
                        <Label htmlFor="email">Email</Label>
                        <Input
                            id="email"
                            type="email"
                            placeholder="Enter your email"
                            name="email"
                            required
                            autocomplete="email"
                        />
                    </div>
                    <div class="grid gap-2">
                        <Label htmlFor="password">Password</Label>
                        <Input
                            id="password"
                            type="password"
                            placeholder="Enter your password"
                            name="password"
                            required
                            autocomplete="current-password"
                        />
                        <p class="text-sm text-gray-500">
                            Must be at least 8 characters.
                        </p>
                    </div>
                </CardContent>
                <CardFooter className="flex flex-col gap-4">
                    <Button className="w-full">Sign up</Button>
                    <p class="text-center text-sm text-gray-500">
                        Already have an account?
                        <a href="/login" class="text-primary">
                            Log in
                        </a>
                    </p>
                </CardFooter>
            </Card>
        </form>
    </main>
</DefaultLayout>

<!-- <script>
    import { signOut } from "../lib/supabase/auth";
    const x = document.getElementById("x") as HTMLButtonElement;
    x.addEventListener("click", () => {
        signOut();
    });
</script> -->

<!-- <script>
    import { signUpNewUser } from "../lib/supabase/auth";
    const form = document.querySelector("form") as HTMLFormElement;
    form.addEventListener("submit", (e: any) => {
        e.preventDefault();
        const formData = new FormData(form);
        const email = formData.get("email") as string;
        const password = formData.get("password") as string;
        signUpNewUser(email, password);
    });
</script> -->

<style>
    #background {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }
    #background video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px) brightness(0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
</style>
