---
import Provider from "../components/react/Provider";
import Header from "../components/react/Header";

import DefaultLayout from "./default.astro";

import "../styles/global.css";
import clsx from "clsx";
import { TrainerAside } from "../components/react/TrainerAside";


const { title, description, className } = Astro.props;
---

<DefaultLayout title={title} description={description}>
    <Provider>
        <div class="flex min-h-screen w-full flex-col bg-muted/40 pl-[240px]">
            <TrainerAside client:only="react" />
            <Header client:only="react" />
            <main
                class={clsx(
                    "flex flex-1 flex-col gap-4 p-4 md:gap-6 px-10 py-0 pb-10",
                    className,
                )}
            >
                <div
                    class="max-w-[85rem] mx-auto grid flex-1 auto-rows-max gap-6 w-full"
                >
                    <slot />
                </div>
            </main>
        </div>
    </Provider>
    <!-- Error messages -->
    <dialog id="errorOverlay">
        <div id="errorOverlayContent"></div>
    </dialog>
</DefaultLayout>